body {
    font-family: "Helvetica", sans-serif;

    padding: 0;
    margin: 0;
}

.header {
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-size: 100px;
    color: white;
}

#cat-container {
    position: relative;
    background-color: #aaddaa;
    width: 100%;
    height: 50vh;
}

#cat {
    position: absolute;
    height: 30vh;
    top: calc(100% - 30vh);
}