body {
    font-family: "Helvetica", sans-serif;

    padding: 0;
    margin: 0;
}

.header {
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-size: 100px;
    color: white;
}

.hidden {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: none;
    perspective: 1000px;
}

.hidden-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.hidden:hover .hidden-inner {
    transform: rotateY(180deg);
}

.hidden-front, .hidden-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hidden-front {
    background-color: white;
    color: black;
}

.hidden-back {
    background-color: #222222;
    color: white;
    transform: rotateY(180deg);
    font-family: "Helvetica", sans-serif;
}