body {
    font-family: "Helvetica", sans-serif;

    padding: 0;
    margin: 0;
}

.header {
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-size: 100px;
    color: white;
}

.button {
    position: absolute;
    right: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    font-family: "Helvetica", sans-serif;
    font-size: 25px;
    color: white;
    background-color: #222222;
    border: #333333 solid 10px;
    padding: 20px;
    display: grid;
    text-align: center;
    align-items: center;
    border-radius: 30px;
}
.button:hover {
    background-color: #333333;
    border: #222222 solid 10px;
    transform: rotate(-360deg);
    transition-duration: 1.5s;
}
.button:active {
    background-color: #666666;
    border: #444444 solid 10px;
    transform: rotate(180deg);
    transition-duration: 1.5s;
}